<% if notice %>
<p id="notice"><%= notice %></p> <% end %>

<h1>GENRES</h1>

<table> 


  <% @genres.each do |genre| %> 
  <tr>
    <td><b><%= link_to genre.name, genre %></b></td>
  </tr>
<% end %>
</table>