<% if notice %>
<p id="notice"><%= notice %></p> <% end %>

<h1>ARTISTS</h1>

<table>
<% @artists.sort { |a,b| a.name <=> b.name }.each do |artist| %>
  <tr>
    <td><b><%= link_to artist.name, artist %></b>&nbsp;</td>

  </tr>
<% end %>
</table>
