<% if notice %>
<p id="notice"><%= notice %></p> <% end %>

<p>Artist:</p>
  <h1><%= @artist.name %></h1>


<ul style="list-style-type: none;">
  <p>
    Song list: 
  </p>
    <b><%= render @artist.songs %></b>
</ul>
<br/>

<%= link_to '<< Back', artists_path %>
