<h1>Playlistrrr</h1>

<h3>Share music with anyone, anywhere.</h3> 
<ul>
  <li>Easily find your favorite music.</li>
  <li>Search by <%= link_to "ARTIST", artists_path %>, SONG or GENRE.</li>
  <li>Create and share playlists with ANYONE, no need to sign-up or download a thing.</li>
</ul>
<br/>
<p><strong><< <%= link_to "ARTISTS", artists_path %> >> | << Songs >> | << Genres >></strong></p>
<br/>
<h4>About Playlistrrr</h4>
<p>Spotify, Rdio, and iTunes won't let you share music with non-members. That's lame.</p>
<p>Playlistrrr lets you share music with just a simple, permanent link. All music is streamed via the YouTube open API.</p>
