<%= link_to "<< home", artists_path %>

<h2>Songs</h2>
<table> 


  <% Song.all.each do |s| %> 
  <tr>

    <td><h3><%= s.name %></h3></td>
    <td><%= link_to 'Go >>', s %></td>

  </tr>
<% end %>
</table>