<p><a href="/"><< home</a></p>

<h2>Songs</h2>
<table> 


  <% Song.all.each do |single| %> 
  <tr>
    <td><b><%= single.name %></b></td>
    <td><%= link_to 'Go to song >>', single %></td>

  </tr>
<% end %>
</table>