<% if notice %>
<p id="notice"><%= notice %></p> <% end %>

<h1>SONGS</h1>
<table> 

  <% @songs.sort { |a,b| a.name <=> b.name }.each do |song| %> 
  <tr>
    <td><b><%= link_to song.name, song %></b>&nbsp;</td>
    <td>by &nbsp;<b><%= Artist.find_by_id(song.artist_id)[:name] %></b>&nbsp;</td>

  </tr>
<% end %>
</table>
<br/>

