<% if notice %>
<p id="notice"><%= notice %></p> <% end %>

<h1>SONGS</h1>
<table> 

  <% @songs.each do  |song| %> 
  <tr>
    <td><b><%= link_to song.name, song %></b>&nbsp;</td>
    <td>by &nbsp;<b><%= song.artist.name %></b>&nbsp;</td>

  </tr>
<% end %>

</table>
<br/>